@model Stix.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurnameClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurnameClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailClient)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary text-warning bg-dark" asp-action="Index" role="button">Volver</a>
</div>
