@model Stix.Models.Food

@{
    ViewData["Title"] = "Eliminar plato";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de querer eliminar este plato?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodTypeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-primary text-warning bg-dark" asp-action="Index" role="button">Volver</a>
    </form>
</div>
