@model Stix.Models.Food

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles del plato</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodTypeId)
        </dd>
    </dl>
</div>
<br>
<div>
        <a class="btn btn-primary text-warning bg-dark" asp-action="Index" role="button">Volver</a>
</div>