@using Stix.ViewModels;
@model Stix.ViewModels.FoodViewModel;

@{
    ViewData["Title"] = "Index";
}
<h1>Lista de platos</h1><br>
<div>
    <a class="btn btn-primary text-warning bg-dark" asp-action="Create" role="button">Cargar un plato nuevo</a>
</div><br>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Food">
        <div class="col-6 form-group">
            <input class="form control" asp-for="NameFilter" id="inputNameFilter" placeholder="Busque un plato"/>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foods[0].NameFood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods[0].DescriptionFood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foods[0].FoodTypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Foods)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameFood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionFood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodTypeId)
                </td>
                <td class="btn-group btn-group-sm" role="group">
                    <a type="button" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-warning">Editar</a>
                    <a type="button" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-warning">Detalle</a>
                    <a type="button" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-warning">Eliminar</a>
                    <a type="button" asp-action="UpdatePrice" asp-route-id="@item.Id"class="btn btn-primary btn-warning">Modif..precio</a>
                </td>
            </tr>
        }
    </tbody>
</table>
