@using Stix.ViewModels;
@model RestaurantViewModel;

@{
    ViewData["Title"] = "Index";
}
<h1>Lista de restaurantes</h1><br>
<div>
    <a class="btn btn-primary text-warning bg-dark" asp-action="Create" role="button">Cargar un restaurant nuevo</a>
</div><br>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Restaurant">
        <div class="col-6 form-group">
            <input class="form control" asp-for="NameFilter" placeholder="Busque un restaurant"/>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Neighbourhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants[0].MenuTypeId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Restaurants)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Neighbourhood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuTypeId)
                </td>
                <td class="btn-group btn-group-lg" role="group">
                    <a type="button" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-warning">Editar</a>
                    <a type="button" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-warning">Detalle</a>
                    <a type="button" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-warning">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
